* {
    margin: 0;
}
body {     font-family: 'Manrope', sans-serif;
    background-color: #1F2039; }
header, footer {
     background-color: white;
     padding: 20px 50px 20px 50px;
}
footer, nav {     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;}
nav a {
    margin-left: 30px;
}
section {
     padding: 80px;
 }
table {    color: white;
    text-align: center;
    width: 100%;
    border-collapse: collapse; }

td, th { border: 1px solid #a5b4fc; }
td {padding: 80px;}

th { padding: 15px; }


h1 {
    font-family:'Montserrat', sans-serif;
    color: #A5B4FC;
    font-size: 3.5em;
    padding : 30px }
    
p, li, h2 {
    color: #F9F8FF;
}
p, li {
    font-size: 1.1rem;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
caption {
    padding: 15px;
}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    color: white;
}
input,
textarea {
    padding: 25px;
    border-radius: 3px;
    border: none;
}
input[type='submit'] {
    width: 200px;
    margin:30px auto auto auto;
}

.grid_paysage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid_paysage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 15px;
}
.grid-portraits img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-portraits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
}
.portfolio-section-photos:hover {
    opacity: 1;
}
.section_contact h2 {
    color: #a5b4fc;
    text-align: center;
    margin-bottom: 50px;
}
.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-mon-email{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.em {
    color: #a5b4fc;
    font-style: normal;
}
.accueil_introduction {
     display: flex;
     flex-direction: row;
     width: 80%;
     align-items: center;
     justify-content: space-between;
     margin: 100px;
     padding: 120px;
}
.accueil-photos {
    background-color: white;
    padding: 30px;
    margin-bottom: 50px;

}
.accueil-photos h2 {
    font-size: 2.8em;
    color: #242424;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 90px;
}
.accueil-photos div {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    margin-bottom: 35px;
    
}
.maclass {
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
}
.maclass:hover {
    text-decoration: none;
    background: linear-gradient(#696484, #8788BA);
}
.maclass {
    display: inline-block;
}
.competence {
    border-bottom: 1px solid #8e86b5;
    border-right:1px solid #8e86b5;
    padding: 50px;
    width: 50%;
    margin: auto;
}
.competence h2 {
    margin-top: 30px;
    width: 50%;
}
.competence ul {
    margin-top: 30px;
}
.lien-icone:hover {
    opacity: 0.5;
}
.a-propos-main {
    width: 50%;
    margin: auto;
    justify-content: center;
}

.portfolio-section-photos { 
    background-color: white; 
}
.portfolio-section-photos h2 { 
    color: #242424;
    margin-bottom: 80px;
}
.a_propos_main > section:nth-child(1) > div:nth-child(2) {
    margin-top: 25px;
    text-align: center;
}

.accueil-photos p { 
    color: #242424;
}
